<div id="cardsBody">
  {{#each card}}
  <form data-id="{{this.id}}" class="cards"><a href="/card/{{this.id}}">
    <div data-id="{{this.id}}">{{this.name}} {{this.id}}</div>
    <img class="cardsImage" src="{{this.img}}"></a>
  </form>
  {{/each}}
</div>

