<div>


  <div>{{card.name}}</div>
  <img src="{{card.img}}">
  <div class="postsOfCard">
    {{#each postThisCard}}
    <div data-id="{{this.id}}">
      <div>Состояние: {{this.State.name}}</div>
      <div>Город продавца: {{this.User.City.name}}</div>
      <div>Цена: {{this.price}}</div>
      <button>Добавить в корзину</button>
    </div>
    {{/each}}
  </div>
</div>
