<h2>Корзина</h2>


<div class="cartMainContainer">
  <div class="cartBuyContainer">
    <div>Общая цена: {{ sumPrice }}</div>
    <button class="buy_button">Купить</button>
  </div>

  <form class="cartMainForm">
    {{#each PostInUserCart}}
    <div>
    <img src="{{this.Card.img}}">
    <div>{{this.Card.name}}</div>
    <div>{{this.price}}</div>
    <div>{{this.State.name}}</div>
    <div>{{this.User.City.name}}</div>
      <button class="deleteFromCartButton" id="{{this.Card.name}}{{this.State.name}}" type="submit">Удалить</button>
    </div>
    {{/each}}
    
  </form>
</div>


