<div class="profileInfoContainer">
  <div>Ваш профиль:</div>
  <div>Имя: {{user.name}}</div>
  <div>email: {{user.email}}</div>
</div>

<nav>
  <button id="myPostsNavButton">Мои карточки</button> | 
  <button id="addPostNavButton">Выставить новую карточку на продажу</button>
</nav>

{{!-- <form class="add-post-form">
  <div class="card-image-container"></div>
  <label for="cardName">Название карточки:</label><br>
  <input type="text" name="cardName"><br>
  <label for="price">Цена:</label><br>
  <input type="text" name="price">
  <label for="price">Состояние:</label><br>
  <input type="text" name="state_id">
  <button type="submit">Выставить на продажу</button>
</form> --}}

<div class="lkMainContainer">
  <div class="addPostContainer"></div>
  <div class="lkMyPostsContainer">
    {{#each userPosts}}
      <div class="lkPostInMyPostsContainer">
        <img class="card-image-container" src="{{this.Card.img}}">
        <div>Название: {{this.Card.name}}</div>
        <div>Цена: {{this.price}}$</div>
        <div>Cостояние: {{this.State.name}}</div>
      </div>
    {{/each}}
  </div>
</div>

